/*

GLOBAL STYLES
1_ COLOR VARIABLES 
2_ FLUID TYPE VARIABLES
3_ FLUID SPACING VARIABLES
4_ BODY AND FONT FACE
5_ TYPE ELEMENTS
6_ OTHER GLOBAL ELEMENTS 


/********************************************************/

/************ 1_ COLOR VARIABLES  ************/

/*********************************************************/

[data-theme="dark"] {
  --brand: hsl(45, 42%, 58%);
  --accent: hsl(45, 31%, 46%);
  --secondary: hsl(194, 27%, 69%);
  --text: hsl(60, 1%, 74%);
  --text-alt: hsl(60, 1%, 15%);
  --surface: hsl(60, 1%, 15%);
  --shadow: hsl(0, 0%, 96%);
}

[data-theme="light"] {
  --brand: hsl(45, 73%, 31%);
  --accent: hsl(45, 73%, 26%);
  --text: hsl(0, 0%, 22%);
  --secondary: hsl(194, 27%, 69%);
  --text-alt: hsl(60, 1%, 15%);
  --surface: hsl(0, 0%, 98%);
  --shadow: hsl(60, 1%, 15%);

  body {
    background-image: url("/images/paper-bg.webp");
    background-color: rgb(255, 255, 255);
  }
}

/********************************************************/

/************ 2_ FLUID TYPE VARIABLES ************/

/*********************************************************/

/* @link https://utopia.fyi/type/calculator?c=320,17,1.125,1280,21,1.25,10,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.8395rem, 0.8393rem + 0.0008vw, 0.84rem);
  --step--1: clamp(0.9444rem, 0.9093rem + 0.1759vw, 1.05rem);
  --step-0: clamp(1.0625rem, 0.9792rem + 0.4167vw, 1.3125rem);
  --step-1: clamp(1.1953rem, 1.0469rem + 0.7422vw, 1.6406rem);
  --step-2: clamp(1.3447rem, 1.1094rem + 1.1768vw, 2.0508rem);
  --step-3: clamp(1.5128rem, 1.1626rem + 1.7511vw, 2.5635rem);
  --step-4: clamp(1.7019rem, 1.2011rem + 2.504vw, 3.2043rem);
  --step-5: clamp(1.9147rem, 1.2177rem + 3.4846vw, 4.0054rem);
  --step-6: clamp(2.154rem, 1.2031rem + 4.7547vw, 5.0068rem);
  --step-7: clamp(2.4232rem, 1.1448rem + 6.3921vw, 6.2585rem);
  --step-8: clamp(2.7261rem, 1.0272rem + 8.4949vw, 7.8231rem);
  --step-9: clamp(3.0669rem, 0.8296rem + 11.1866vw, 9.7789rem);
  --step-10: clamp(3.4503rem, 0.5258rem + 14.6222vw, 12.2236rem);
}
/********************************************************/

/************ 3_ FLUID SPACING VARIABLES ************/

/*********************************************************/

/* @link https://utopia.fyi/space/calculator?c=320,17,1.2,1280,21,1.25,10,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l|s-xl|s-2xl|s-3xl&g=s,l,xl,12 */

:root {
  --space-3xs: clamp(0.25rem, 0.2292rem + 0.1042vw, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5208rem + 0.2083vw, 0.6875rem);
  --space-xs: clamp(0.8125rem, 0.75rem + 0.3125vw, 1rem);
  --space-s: clamp(1.0625rem, 0.9792rem + 0.4167vw, 1.3125rem);
  --space-m: clamp(1.625rem, 1.5rem + 0.625vw, 2rem);
  --space-l: clamp(2.125rem, 1.9583rem + 0.8333vw, 2.625rem);
  --space-xl: clamp(3.1875rem, 2.9375rem + 1.25vw, 3.9375rem);
  --space-2xl: clamp(4.25rem, 3.9167rem + 1.6667vw, 5.25rem);
  --space-3xl: clamp(6.375rem, 5.875rem + 2.5vw, 7.875rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.1042rem + 0.7292vw, 0.6875rem);
  --space-2xs-xs: clamp(0.5625rem, 0.4167rem + 0.7292vw, 1rem);
  --space-xs-s: clamp(0.8125rem, 0.6458rem + 0.8333vw, 1.3125rem);
  --space-s-m: clamp(1.0625rem, 0.75rem + 1.5625vw, 2rem);
  --space-m-l: clamp(1.625rem, 1.2917rem + 1.6667vw, 2.625rem);
  --space-l-xl: clamp(2.125rem, 1.5208rem + 3.0208vw, 3.9375rem);
  --space-xl-2xl: clamp(3.1875rem, 2.5rem + 3.4375vw, 5.25rem);
  --space-2xl-3xl: clamp(4.25rem, 3.0417rem + 6.0417vw, 7.875rem);

  /* Custom pairs */
  --space-s-l: clamp(1.0625rem, 0.5417rem + 2.6042vw, 2.625rem);
  --space-s-xl: clamp(1.0625rem, 0.1042rem + 4.7917vw, 3.9375rem);
  --space-s-2xl: clamp(1.0625rem, -0.3333rem + 6.9792vw, 5.25rem);
  --space-s-3xl: clamp(1.0625rem, -1.2083rem + 11.3542vw, 7.875rem);
}
/********************************************************/

/************ 4_ BODY AND FONT FACE ************/

/*********************************************************/
/**
 * CSS for DM Serif Display Regular
 * Generated by Wakamai Fondue - https://wakamaifondue.com
 * by Roel Nieskens/PixelAmbacht - https://pixelambacht.nl
 */

@font-face {
  font-family: "DM Serif Display Regular";
  src: url("/fonts/DMSerifDisplay-Regular.woff2");
  font-display: block;
  unicode-range: U+000D, U+0020-007E, U+00A0-0107, U+010C-0113, U+0116-011B,
    U+011E-011F, U+0122-0123, U+012A-012B, U+012E-0131, U+0136-0137, U+0139-0148,
    U+014C-014D, U+0150-015B, U+015E-0165, U+016A-016B, U+016E-0173, U+0178-017E,
    U+0218-021B, U+02C6-02C7, U+02D8-02DD, U+0300-0304, U+0306-0308, U+030A-030C,
    U+0326-0328, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026,
    U+2030, U+2039-203A, U+2044, U+2074, U+20AC, U+20BD, U+2122, U+212E, U+2212,
    U+2215, U+2219, U+2248, U+2260, U+2264-2265;
}

/* Body */

html {
  font-size: 97%;
  scrollbar-gutter: stable;
  background-color: var(--shadow);
  max-width: 1920px;
  margin-inline: auto;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  font-family: system-ui, sans-serif;
  font-size: var(--step-0);
  line-height: calc(1.4em + 0.5rem);
  background-color: var(--surface);
  color: var(--text);
  font-weight: 400;
}

/********************************************************/

/************ 5_ TYPE ELEMENTS ************/

/*********************************************************/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display Regular", serif;
  line-height: calc(1em + 0.9rem);
  text-wrap: balance;
  font-weight: 600;
}

h1 {
  font-size: var(--step-4);
  margin-block-end: var(--space-s);
  text-transform: capitalize;
  text-align: center;
}

h2 {
  font-size: var(--step-3);
  text-transform: capitalize;
}

h3 {
  font-size: var(--step-2);
  line-height: 2;
}

h4 {
  font-size: var(--step-1);
  font-weight: 500;
  text-transform: capitalize;
}

h5 {
  font-size: var(--step--1);
  color: var(--tertiary);
  line-height: 2.2;
  font-family: system-ui, sans-serif;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

h6 {
  font-size: var(--step--1);
}

small {
  font-size: var(--step--1);
  line-height: 1.5;
  display: inline-block;
}

a {
  color: var(--text);
  text-decoration-color: var(--brand);
  padding-block: 0.5rem;
}

a:hover {
  color: var(--accent);
}

a:active {
  position: relative;
  inset-block-start: 0.05rem;
  /* give all links a bounce on click. */
}

strong {
  font-weight: 700;
}

ul {
  margin-block-end: var(--space-s);
}

main li {
  margin-inline-start: var(--space-s);
  line-height: calc(1.5em + 0.5rem);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
small,
li,
figcaption {
  max-inline-size: 65ch;
}

/********************************************************/

/************ 6_ OTHER GLOBAL ELEMENTS ************/

/*********************************************************/

hr {
  height: 0.01rem;
  background-color: var(--shadow);
  border: none;
}

* {
  scrollbar-color: var(--tertiary) var(--surface);
  scrollbar-width: auto;
}

::marker {
  color: var(--brand);
  font-size: var(--step-1);
}

::selection {
  color: hsl(0, 0%, 3%);
  background-color: var(--secondary);
}

figcaption {
  padding: 1rem;
  display: inline-block;
}

address {
  display: inline-block;
  font-style: normal;
}

figcaption {
  padding: 1rem;
  display: inline-block;
}

/* skip links and focus */

.skip-link {
  position: absolute;
  padding: 0.5rem;
  margin: 1rem;
  background-color: var(--accent);
  color: var(--surface);
  z-index: 10;
  font-weight: 700;
}

.skip-link:not(:focus) {
  clip-path: inset(50%);
}

:focus-visible {
  outline: 0.3rem solid var(--accent);
  border-radius: 0.5rem;
}

/* Less used*/

kbd {
  border: 0.1rem solid;
  border-radius: 0.3rem;
  box-shadow: inset 0 -0.1rem 0 0;
  padding: 0.3rem 0.5rem;
  margin-inline: 0.3rem;
  white-space: nowrap;
}

code {
  background-color: var(--tertiary);
  color: var(--brand-95-l);
  font-size: var(--step-0);
  font-family: "Courier New", Courier, monospace;
  padding: 0.2rem;
}

pre {
  background-color: var(--shadow-2);
  color: var(--text);
  font-size: var(--step-0);
  font-family: "Courier New", Courier, monospace;
  padding: var(--space-xs);
  overflow: auto;
  margin-block: var(--space-s);
  font-weight: 600;
}